*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f6f9;
}
.card-img-top{
    border-radius: 40px;
    padding: 20px;
}
.card{
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
    
}
.card body{
    padding-top: 15px;
    margin-top: -15px;
}
.btn-primary:hover{
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}
.btn-primary {
    width: 100px;
    background-color: #468585;  
}
h3,h5{
    color:#9CDBA6;
}
h1 {
    position: relative;
    top: -20px; 
    border-bottom: 3px solid #468585;
    width: fit-content;
}
